#quiz-attempt-bar {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 15px;
  border-radius: 6px;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.5px;
}
